body {
  background-color: black;
}

.ball {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: blue;
  box-shadow: 0 0 50px 30px blue;
  position: absolute;
  animation: move 2s linear infinite, shineBorder 2s linear infinite; /* Multiple animations */
}

.time {
  display: inline-block;
  width: 1000px;
  height: 20px;
  background-color: white;
  overflow: hidden;
  position: relative; /* Added position property */
  top: 5vh;
}

.timesheet {
  width: 1000px;
  height: 20px;
  background-color: red;
  position: relative; /* Added position property */
}

.score {
  display: inline;
  width: 1000px;
  height: 100px;
  margin-right: 100px;
  position: relative;
  color: white;
  font-size: larger;
  left: 45%;
}

@keyframes move {
  0% {
    transform: translate(0, 100vh);
  }
  50% {
    transform: translate(0, 50vh);
  }
  100% {
    transform: translate(0, 10vh);
  }
}
